<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{{ title|escape|decode }}{% endblock %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block feed %}
<link rel="alternate" type="application/atom+xml" title="{{ title|escape|decode }} - Feed" href="{{ top_dir }}feed.atom">
{% endblock %}
<meta http-equiv="Content-Type" content="text/html;charset=US-ASCII">
<meta name='generator' content='weblog'>
<link rel="icon" type="image/png" href="{{ top_dir }}favicon.png" />
{% block head %}
<link href="{{ top_dir }}style.css" rel="stylesheet" type="text/css">
{% endblock %}

<script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js" integrity="sha512-6FaAxxHuKuzaGHWnV00ftWqP3luSBRSopnNAA2RvQH1fOfnF/A1wOfiUWF7cLIOFcfb1dEhXwo5VG3DAisocRw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-EJ74RNN26E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EJ74RNN26E');
</script>

<div id="menu">
<p>
  <a href='{{ top_dir }}index.html'>Latest posts</a><br>
  <a href='{{ top_dir }}archives.html'>Archives</a><br>
  <a href='{{ top_dir }}feed.atom'>
    <img class="inline-feed-icon" src="{{ top_dir }}feed-icon.png">
      Feed
  </a>
</div>
<div id="search">
</div>
{% block header %}
{% endblock %}
<div id='main'>
{% block content %}{% endblock %}
</div>
{% block footer %}
<div id='footer'>
<p>
<a href='{{ top_dir }}index.html' id='recents'>Latest posts</a> |
<a href='{{ top_dir }}archives.html' id='archives'>Archives</a>
</p>

<p id='weblog-ad'>
Published using <a href='http://henry.precheur.org/weblog/'>Weblog</a>
</p>
</div>
{% endblock %}
</body>
</html>
{# vim:set ft=htmljinja: #}
