{% extends 'base.html.tmpl' %}

{% block content %}
<h1 id='title'><a href='{{ top_dir }}index.html'>{{ blog_title|escape|decode }}</a></h1>
{% if description %}
<p id='description'>{{ description|escape|decode }}</p>
{% endif %}

<h2>{{ title|escape|decode }}</h2>
<p class='post-header'>
<span class='date'>
{{ date.strftime('%A, %B %d, %Y') }}
</span>
{%- if author %}
, <span class='author'>by {{ author.name()|decode }}
&lt;{{ author.email()|urlize }}&gt;</span>
{% endif %}
</p>
<div class='post-content'>
{{ content|decode }}</div>

<div id="post-footer">
    <div id="post-footer-content">
        <a href="{{ top_dir }}index.html">Latest posts</a> |
        <a href="{{ top_dir }}archives.html">Archives</a>
    </div>
    <hr>
</div>

<a name="comments"></a>
<script type="text/javascript">
    disqus_identifier="{{ uuid }}";
</script>
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/jlebar/embed.js"></script>

{% endblock %}
{# vim:set ft=htmljinja: #}
